<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title id="center">Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <div d="email">
    <ion-icon name="mail"></ion-icon>
  </div> -->


  <form [formGroup]="formgroup">

    <ion-item>

      <ion-label floating>
        <ion-icon name="person"></ion-icon>
        Email </ion-label>

      <ion-input type="email" formControlName="email" [(ngModel)]='user.email'></ion-input>

    </ion-item>

    <div *ngIf="email.hasError('required') && email.touched">
      <p>email is mandatory </p>
    </div>


    <ion-item>

      <ion-label floating>
        <ion-icon name="lock"></ion-icon>Password
        <!-- <ion-toggle name="eye" text-right></ion-icon>  -->

      </ion-label>
      <!-- <ion-toggle></ion-toggle> -->
      <ion-input type="password" formControlName="password" [(ngModel)]='user.password'></ion-input>

    </ion-item>
    <div *ngIf="password.hasError('required') && password.touched">
      <p>password is mandatory </p>
    </div>
    <div class="container">
      <button class="bt_common" (click)='loginWithGoogle()' *ngIf=" !google.loggedin">
        <ion-icon name='logo-googleplus'>
        </ion-icon>
      </button>
      <button class="bt_common ">
        <ion-icon name='logo-facebook'>

        </ion-icon>
      </button>
      <button class="bt_common ">
        <ion-icon name='logo-twitter'></ion-icon>
      </button>
    </div>
    <button ion-button block color="customButton" (click)='signin(user)'>Sign In</button>


    <p> Donot have account ?
      <a id="a" (click)="onsignup()">SIGNUP</a>
    </p>
  </form>
</ion-content>