// page-login {
// }

.button-block-md {
  margin-top: 40px;
}
.toolbar-title-md {
  font-weight: 260;
}
ion-icon {
  font-size: 2.2em;
}
p {
  color: rgb(100, 99, 99);
  font-size: 1.3rem;
  text-align: center;
  margin-top: 20px;
}
[name="logo-googleplus"] {
  color: rgb(197, 55, 55);
}
[name="logo-facebook"] {
  color: rgb(106, 106, 240);
}
[name="logo-twitter"] {
  color: #1da1f2;
}
#center {
  text-align: center;
}

.bt_common {
  background: #f7f7f7;
  border-radius: 100px;
  border: 1px solid #eee;
  height: 60px;
  width: 60px;
  margin: 10px;
}
.container {
  text-align: center;
  margin-top: 30px;
}
#a {
  cursor: pointer;
}
