<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <div class="row">
      <ion-title id="center">Article</ion-title>
      <button ion-button icon-only (click)="showpopdown($event)">
        <ion-icon name="more"></ion-icon>
      </button>


    </div>


  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/images/profile.jpg"> </ion-avatar>
      <h2>Satyendra Gupta</h2>
    </ion-item>
    <img src="../../assets/images/profile.jpg">
    <ion-card-content>
      <p text-justify>
        Lorem Ipsum je demonstrativní výplňový text používaný v tiskařském a knihařském průmyslu. Lorem Ipsum je považováno za standard
        v této oblasti už od začátku 16. století, kdy dnes neznámý tiskař vzal kusy textu a na jejich základě vytvořil speciální
        vzorovou knihu. Jeho odkaz nevydržel pouze pět s
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up">
          </ion-icon>
          <div>
            8 Likes
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text">
          </ion-icon>
          <div>
            4 Comments
          </div>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-left clear small (click)="editArt()">
          <ion-icon name="edit">
          </ion-icon>
          <div>
            Edit
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/images/shre.jpeg"> </ion-avatar>
      <h2>Shreya Ghoshal</h2>
    </ion-item>
    <img src="../../assets/images/shre.jpeg">
    <ion-card-content>
      <p text-justify>
        Lorem Ipsum je demonstrativní výplňový text používaný v tiskařském a knihařském průmyslu. Lorem Ipsum je považováno za standard
        v této oblasti už od začátku 16.
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up">
          </ion-icon>
          <div>
            34 Likes
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text">
          </ion-icon>
          <div>
            2 Comments
          </div>
        </button>
      </ion-col>

      <ion-col>
        <button ion-button icon-left clear small (click)="editArt()">
          <ion-icon name="compose">
          </ion-icon>
          <div>
            Edit
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/images/profile.jpg"> </ion-avatar>
      <h2>Satyendra Gupta</h2>
    </ion-item>
    <img src="../../assets/images/profile.jpg">
    <ion-card-content>
      <p text-justify>
        Lorem Ipsum je demonstrativní výplňový text používaný v tiskařském a knihařském průmyslu. Lorem Ipsum je považováno za standard
        v této oblasti už od začátku 16. století, kdy dnes neznámý tiskař vzal kusy textu a na jejich základě vytvořil speciální
        vzorovou knihu. Jeho odkaz nevydržel pouze pět s
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small (click)="editArt()">
          <ion-icon name="thumbs-up">
          </ion-icon>
          <div>
            4 Likes
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text">
          </ion-icon>
          <div>
            2 Comments
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (click)="editArt()">
          <ion-icon name="compose">
          </ion-icon>
          <div>
            Edit
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/images/profile.jpg"> </ion-avatar>
      <h2>Satyendra Gupta</h2>
    </ion-item>
    <img src="../../assets/images/profile.jpg">
    <ion-card-content>
      <p text-justify>
        Lorem Ipsum je demonstrativní výplňový text používaný v tiskařském a knihařském průmyslu. Lorem Ipsum je považováno za standard
        v této oblasti už od začátku 16. století, kdy dnes neznámý tiskař vzal kusy textu a na jejich základě vytvořil speciální
        vzorovou knihu. Jeho odkaz nevydržel pouze pět s
      </p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up">
          </ion-icon>
          <div>
            4 Likes
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text">
          </ion-icon>
          <div>
            5 Comments
          </div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (click)="editArt()">
          <ion-icon name="compose"> </ion-icon>
          <ion-icon name="edit">

          </ion-icon>

          <div>
            Edit
          </div>
        </button>
      </ion-col>


    </ion-row>
  </ion-card>
</ion-content>