<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title id="center">Signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form [formGroup]="formgroup">
    <ion-item>
      <ion-label floating>
        <ion-icon name="mail"></ion-icon>Email</ion-label>

      <ion-input type="email" formControlName="email" [(ngModel)]="user.email"></ion-input>

    </ion-item>

    <div *ngIf="email.hasError('required') && email.touched">
      <p>email is mandatory </p>
    </div>

    <ion-item>
      <ion-label floating>
        <ion-icon name="person"></ion-icon>Username </ion-label>

      <ion-input type="text" formControlName="userName" required [(ngModel)]="user.userName"></ion-input>
    </ion-item>

    <div *ngIf="userName.hasError('required') && userName.touched">
      <p>username is mandatory </p>
    </div>

    <ion-item>
      <ion-label floating>
        <ion-icon name="link"></ion-icon>imageLink </ion-label>

      <ion-input type="text" formControlName="imageLink" [(ngModel)]="user.imageLink"></ion-input>
    </ion-item>

    <div *ngIf="imageLink.hasError('required') && imageLink.touched">
      <p>imageLink is mandatory </p>
    </div>

    <ion-item>
      <ion-label floating>
        <ion-icon name="lock"></ion-icon>
        Password</ion-label>
      <ion-toggle (click)="show()"></ion-toggle>
      <ion-input type="password" formControlName="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>
    <div *ngIf="password.hasError('required') && password.touched">
      <p>password is mandatory </p>
    </div>


    <button ion-button block color="customButton" (click)="signup(user)">Signup</button>
  </form>
</ion-content>