<!--
  Generated template for the PopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
     <ion-title></ion-title> 

  </ion-navbar>

</ion-header> -->


<ion-content>
  <ion-list>
    <button ion-item (click)="article()">
      <ion-icon name="add"></ion-icon>Add Article</button>
    <button ion-item (click)="viewProfile()">
      <ion-icon name="person"></ion-icon>View Profile</button>
    <button ion-item (click)="logout()">
      <ion-icon name="log-out"></ion-icon>Logout</button>
  </ion-list>
</ion-content>